In [1]:
import pandas as pd
from sklearn.datasets import load_boston
from matplotlib import pyplot as plt
from upsetplot import UpSet

# Load the dataset into a DataFrame
boston = load_boston()
boston_df = pd.DataFrame(boston.data, columns=boston.feature_names)

# Get five features most correlated with median house value
correls = boston_df.corrwith(pd.Series(boston.target),
                             method='spearman').sort_values()
top_features = correls.index[-5:]

# Get a binary indicator of whether each top feature is above average
boston_above_avg = boston_df > boston_df.median(axis=0)
boston_above_avg = boston_above_avg[top_features]
boston_above_avg = boston_above_avg.rename(columns=lambda x: x + '>')

# Make this indicator mask an index of boston_df
boston_df = pd.concat([boston_df, boston_above_avg],
                      axis=1)
boston_df = boston_df.set_index(list(boston_above_avg.columns))

# Also give us access to the target (median house value)
boston_df = boston_df.assign(median_value=boston.target)

C:\Users\Milk\anaconda3\envs\upset\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [2]:
boston_df

                                 CRIM    ZN  INDUS  CHAS    NOX     RM   AGE  \
CHAS> B>   ZN>   DIS>  RM>
False True True  True  True   0.00632  18.0   2.31   0.0  0.538  6.575  65.2
           False True  True   0.02731   0.0   7.07   0.0  0.469  6.421  78.9
                       True   0.02729   0.0   7.07   0.0  0.469  7.185  61.1
                       True   0.03237   0.0   2.18   0.0  0.458  6.998  45.8
                       True   0.06905   0.0   2.18   0.0  0.458  7.147  54.2
...                               ...   ...    ...   ...    ...    ...   ...
                 False True   0.06263   0.0  11.93   0.0  0.573  6.593  69.1
                       False  0.04527   0.0  11.93   0.0  0.573  6.120  76.7
                       True   0.06076   0.0  11.93   0.0  0.573  6.976  91.0
                       True   0.10959   0.0  11.93   0.0  0.573  6.794  89.3
                       False  0.04741   0.0  11.93   0.0  0.573  6.030  80.8

                                 DIS  RAD    TAX  PTRATIO       B  LSTAT  \
CHAS> B>   ZN>   DIS>  RM>
False True True  True  True   4.0900  1.0  296.0     15.3  396.90   4.98
           False True  True   4.9671  2.0  242.0     17.8  396.90   9.14
                       True   4.9671  2.0  242.0     17.8  392.83   4.03
                       True   6.0622  3.0  222.0     18.7  394.63   2.94
                       True   6.0622  3.0  222.0     18.7  396.90   5.33
...                              ...  ...    ...      ...     ...    ...
                 False True   2.4786  1.0  273.0     21.0  391.99   9.67
                       False  2.2875  1.0  273.0     21.0  396.90   9.08
                       True   2.1675  1.0  273.0     21.0  396.90   5.64
                       True   2.3889  1.0  273.0     21.0  393.45   6.48
                       False  2.5050  1.0  273.0     21.0  396.90   7.88

                              median_value
CHAS> B>   ZN>   DIS>  RM>
False True True  True  True           24.0
           False True  True           21.6
                       True           34.7
                       True           33.4
                       True           36.2
...                                    ...
                 False True           22.4
                       False          20.6
                       True           23.9
                       True           22.0
                       False          11.9

[506 rows x 14 columns]